<div id="breadcrumb_object" class="card widget-flat" (click)="moveTo()">
  <div class="card-body">
    <div class="float-end">
        <i class="fa fa-5x widget-icon"><fa-icon [icon]="icon"></fa-icon></i>
    </div>
    <div id="energyPreviousValue">
      <p class="mb-0 text-muted">
        <span class="me-2 text-black">
            <i class="fa"><fa-icon [icon]="faArrowRight"></fa-icon></i>
        </span><span class="me-2 text-black"
          >{{ object | titlecase }} : {{ objectIndex }}</span
        > <span class="text-nowrap text-blue"
          ><!-- {{ objectValue | number }} {{ objectUnit }} -->Return to this level.</span 
        >
      </p>
    </div>
  </div>
</div>
