<kendo-card width='100%' class="expand">
    <kendo-card-header>
        <h1 kendoCardTitle>Savings by category</h1>
    </kendo-card-header>
    <kendo-card-body>
        <div class="filler-16"></div>
        <div class="pie-chart">
            <kendo-chart [style.height.px]="200" [transitions]="false">
                <kendo-chart-series>
                  <kendo-chart-series-item
                    [autoFit]="autofit"
                    type="donut"
                    [data]="data"
                    categoryField="category"
                    field="value"
                  >
                    
                  </kendo-chart-series-item>
                </kendo-chart-series>
                <kendo-chart-legend [visible]="true"></kendo-chart-legend>
              </kendo-chart>
              
        </div>
    </kendo-card-body>
</kendo-card>