<kendo-card class="locked-service-card">
    <kendo-card-header>
        <h1 kendoCardTitle>{{service}} is not unlocked yet</h1>
        <p kendoCardSubtitle>To use this service, you have to unlock it first.</p>
    </kendo-card-header>
    <kendo-card-body>
        <img class="illustration" src="/assets/illustration.png">
        <p>Contact Enappgy to unlock the service.</p>
    </kendo-card-body>
    <kendo-card-actions orientation="horizontal" layout="stretched">
        <a href='../../'>
            <button kendoButton fillMode="flat">Back to Home</button>
        </a>
        <a href="mailto:support@enappgy.com">
            <button kendoButton themeColor="primary">Unlock Service</button>
        </a>
      </kendo-card-actions>
</kendo-card>



