<div *ngIf="isEnergySavings">
  <kendo-card width="100%" class="expand">
    <kendo-card-header>
      <h1 kendoCardTitle>Savings over time</h1>
      <!-- <div *ngFor="let spot of energySavings.timeLine">
          {{spot.date}} - {{spot.value}}
        </div> -->
    </kendo-card-header>
    <kendo-card-body>
      <div class="filler-16"></div> <!-- code use to fill space on card and adecuate it to the rest -->
      <div class="filler-16"></div>
      <kendo-chart style="width: 100%; height: 230px" [valueAxis]="hide">
        <kendo-chart-value-axis>
          <kendo-chart-value-axis-item
            [title]="{ text: 'Savings in kwh' }"
            color="#6C757D"
            [min]="0"
          >
          </kendo-chart-value-axis-item>
        </kendo-chart-value-axis>
        <kendo-chart-category-axis>
          <kendo-chart-category-axis-item
            [title]="{ text: 'Date' }"
            color="#6C757D"
            [labels]="daysInArray <= 7 ? { visible: true, format: 'd/M' } :{ visible: false, format: 'd/M' } "
            [rangeLabels]="{ format: 'dd MMM yyyy', visible: false }"
            [justified]="true"
            [maxDivisions]="10"
            baseUnit="days"
          >
          </kendo-chart-category-axis-item>
        </kendo-chart-category-axis>
        <kendo-chart-axis-defaults
          [background]="background"
          [crosshair]="hide"
          [labels]="labels"
          [majorGridLines]="majorGridLines"
          [minorGridLines]="minorGridLines"
        ></kendo-chart-axis-defaults>
        <!-- <kendo-chart-tooltip>
                <ng-template kendoChartSeriesTooltipTemplate let-value="value" format="Serie 1 value: {0}">
                  {{ getEnergyToolTip() }} Kwh
                </ng-template> 
              </kendo-chart-tooltip> -->

        <kendo-chart-tooltip [shared]="true">
          <ng-template kendoChartSharedTooltipTemplate let-category="category" let-points="points">
            <div><h4>{{ category | date }}</h4></div>
            <div *ngFor="let point of points; let i=index;">
              <p>Value: {{ point.value | number:'1.1-2'}} KwH</p>
            </div>
        </ng-template>
        </kendo-chart-tooltip>

        <kendo-chart-series>
          <kendo-chart-series-item *ngFor="let item of series"
            [data]="item.timeLine"
            field="value"
            [categoryField]="daysInArray <= 7 ? 'date' : 'date'"
          >
            <!-- <kendo-chart-series-item-tooltip [shared]="true" [format]="daysInArray <= 7 ? '{0:N2} Kwh': 'date' + ' {0:N2} Kwh'">
            </kendo-chart-series-item-tooltip> -->
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </kendo-card-body>
  </kendo-card>
</div>
