.align-center{
    margin: 0 auto;
    text-align: center;
}
.savings-icon {
    width: 48px;
    height:48px;
    border-radius: 50%;
    padding-top:12px;
    margin: 8px auto;
    color: darkgreen;
}
.k-icon-24 {
    font-size: 24px; /* Sets icon size to 32px */
}
.flex-container { /* override of styes.css*/
    display: flex;
    flex-flow: column;
    min-height: 1vh;
}
.k-chart-tooltip-wrapper  {
    margin-left: -1rem;
    margin-top: -6rem;
  }

.k-animation-container .k-chart-tooltip-wrapper .k-animation-container-shown {
    margin-left: -1rem !important;
    margin-top: -6rem !important;
}