<kendo-card width="100%" class="expand">
  <kendo-card-header>
    <h1 kendoCardTitle *ngIf="!activateStructureFilter">
      <div class="container-fluid flex-container" *ngIf="!activateStructureFilter">
        <div class="row">
          <!-- miniCard title -->
          <div class="col-md-8" style="margin:auto">
            {{ type | titlecase }} {{ description }}
          </div>
          <!-- Zoom button -->
          <div class="col-md-4" style="margin: auto">
            <div style="float: right; margin: auto;">
              <button
              kendoButton
              themeColor="primary"
              icon="zoom"
              [fillMode]="'solid'"
              style="top: 2px; bottom: 5px; margin-right: 5px"
            ></button>
            </div>
          </div>
        </div>
      </div>
    </h1>

    <h1 kendoCardTitle *ngIf="activateStructureFilter" style="width: 250px">
      <kendo-dropdowntree
        kendoDropDownTreeExpandable
        [kendoDropDownTreeHierarchyBinding]="treeStructure"
        textField="text"
        valueField="id"
        childrenField="items"
        [value]="treeSelectedValue"
        class="width: 250px;"
        (valueChange)="valueChangeOnTree($event)"
      ></kendo-dropdowntree>
    </h1>
    <!-- <div *ngFor="let spot of energySavings.timeLine">
          {{spot.date}} - {{spot.value}}
        </div> -->
  </kendo-card-header>

  <ng-component
    *ngIf="isDataSummarized; then dataSummarized; else dataSeriesGraph"
  ></ng-component>

  <ng-template #dataSummarized>
    <kendo-card-body (click)="getDataSeries(id, sensorType)" style="margin: auto;">
      <div style="margin: auto;">
        <div class="filler-16"></div>
        <div class="filler-16"></div>
        <div class="filler-16"></div>
        <div class="filler-16"></div>
        <div class="filler-16"></div>
        <div class="filler-16"></div>
        <div class="filler-16"></div>
        <div class="filler-16"></div>
        <kendo-loader
        [type]="loaders[0].type"
        [themeColor]="loaders[0].themeColor"
        [size]="loaders[0].size"
      >
        </kendo-loader>
        <div class="filler-16"></div>
        <div class="filler-16"></div>
        <div class="filler-16"></div>
        <div class="filler-16"></div>
        <div class="filler-16"></div>
        <div class="filler-16"></div>
        <div class="filler-16"></div>
        <div class="filler-16"></div>
      </div>

    </kendo-card-body>
  </ng-template>

  <ng-template #dataSeriesGraph>

      <ng-component
      *ngIf="isDataReady; then dataIsReady; else dataIsLoading"
    >
      </ng-component>

  </ng-template>

  <ng-template #dataIsLoading>
    <div style="margin:auto">
      <div class="filler-16"></div>
      <div class="filler-16"></div>
      <div class="filler-16"></div>
      <div class="filler-16"></div>
      <div class="filler-16"></div>
      <div class="filler-16"></div>
      <div class="filler-16"></div>
      <div class="filler-16"></div>
      <kendo-loader
        [type]="loaders[0].type"
        [themeColor]="loaders[0].themeColor"
        [size]="loaders[0].size"
      ></kendo-loader>
      <div class="filler-16"></div>
      <div class="filler-16"></div>
      <div class="filler-16"></div>
      <div class="filler-16"></div>
      <div class="filler-16"></div>
      <div class="filler-16"></div>
      <div class="filler-16"></div>
      <div class="filler-16"></div>
    </div>

  </ng-template>

  <ng-template #dataIsReady>
    <kendo-card-body (click)="getDataSeries2(id, sensorType)">
      <!-- <div *ngIf="activateStructureFilter" style="width: 250px">
        <kendo-dropdowntree
        kendoDropDownTreeExpandable
        [kendoDropDownTreeHierarchyBinding]="treeStructure"
        textField="text"
        valueField="id"
        childrenField="items"
        class="width: 250px;"
      ></kendo-dropdowntree>
      </div> -->
      <!--<div class="filler-16"></div> -->
      <kendo-chart
        style="width: 100%; height: 330px"
        [valueAxis]="hide"
        renderAs="canvas"
        [pannable]="{ lock: 'y' }"
        [zoomable]="{ mousewheel: { lock: 'y' } }"
      >
        <kendo-chart-value-axis>
          <!--cambiar este txt por una variable interna o una llamda a funcion que deuvlva el texto-->
          <kendo-chart-value-axis-item
            [title]="{ text: getSensorTypeUnit() | titlecase }"
            color="#6C757D"
            [min]="0"
          ></kendo-chart-value-axis-item>
        </kendo-chart-value-axis>

        <kendo-chart-category-axis>
          <!--on labels, on a 1 Day selection (calendar component) 24 refers to 24 hs and 96 values received for the detailGraph -->
          <kendo-chart-category-axis-item
            type="date"
            [title]="{ text: 'Date' }"
            color="#6C757D"
            [labels]="
              daysInArray == 24 || daysInArray == 96
                ? { visible: true, format: 'd/M HH:mm', rotation: 'auto' }
                : { visible: true, format: 'd/M/yy ', rotation: 'auto' }
            "
            [justified]="true"
            [majorTicks]="{ size: 15 }"
            [maxDivisions]="30"
          ></kendo-chart-category-axis-item
          ><!--maxDivisions permite identificar cuantos labels en ejeX se quieren--><!--baseUnitStep="auto"-->
        </kendo-chart-category-axis>

        <kendo-chart-axis-defaults
          [background]="background"
          [crosshair]="hide"
          [labels]="labels"
          [majorGridLines]="majorGridLines"
          [minorGridLines]="minorGridLines"
        ></kendo-chart-axis-defaults>

        <kendo-chart-tooltip [shared]="true" position="top">
          <ng-template
            kendoChartSharedTooltipTemplate
            let-category="category"
            let-points="points"
            
          >

          <div>
            <div class="filler-16"></div>
            <!-- Tooltip date as title (uses template) -->
            <ng-component
              *ngIf="
                daysInArray == 24 || daysInArray == 96;
                then DateFormatInHours;
                else DateFormatInDays
              "
            >
            </ng-component>
            <!-- date template -->
            <ng-template #DateFormatInHours>
              <div style="font:16px">{{ category | date: "dd MMM yyyy h:mm a" }}</div>
            </ng-template>
            <ng-template #DateFormatInDays>
              <div style="font:16px">{{ category | date: "dd MMM yyyy" }}</div>
            </ng-template>
            <!--Tooltip value-->
            <div style="font:16px" *ngFor="let point of points; let i = index">
              <p>
                Value: {{ point.value | number: "1.1-2" }}
                {{ getSensorTypeUnit() }}
              </p>
              <!--define the different units-->
            </div>
          </div>

          </ng-template>
        </kendo-chart-tooltip>

        <kendo-chart-series>
          <kendo-chart-series-item
            *ngFor="let item of series"
            [style]="'smooth'"
            type="line"
            [markers]="{ visible: false }"
            [data]="item"
            field="value"
            [categoryField]="daysInArray <= 7 ? 'date' : 'date'"
          >
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>
    </kendo-card-body>
  </ng-template>
</kendo-card>
