<div *ngIf="isDataReady; else loadingDataTemplate">
  <div class="container-fluid flex-container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h2>Multisense</h2>
        <!--<br />-->
      </div>
      <!-- Calendar module -->
      <div class="col-md-8 col-sm-12" style="float: right">
        <div style="float: right">
          <app-calendar-control
            [calendarShortcuts]="true"
            [calendarDatepicker]="false"
            [allowWeekDays]="allowWeekDays"
            (searchClick)="SearchEvent($event)"
          ></app-calendar-control>
        </div>
      </div>
    </div>

    <!-- empty space -->
    <!-- <div class="row" id="emptySpace01">
      <div class="col-md4 col-sm-12">
        <br />
      </div>
    </div> -->
    <!-- Sensortype Filters -->
    <div class="'row" id="sensorType">
      <div class="col-md-16 col-sm-12">
        <!-- <kendo-card width="100%" class="expand">
          <kendo-card-header>
            <h1 kendoCardTitle></h1>
          </kendo-card-header>
          <kendo-card-body> </kendo-card-body>
        </kendo-card> -->
        <!-- <button kendoButton style="bottom: 10px; margin-right: 5px" (click)="getSensorCardsBy('all')" icon="inherited">All sensors</button> -->
        <button
          kendoButton
          themeColor="secondary"
          [fillMode]="getSensorType() == 'energy' ? 'solid' : 'outline'"
          style="bottom: 10px; margin-right: 5px"
          (click)="getSensorCardsBy('energy')"
          icon="brightness-contrast"
        >
          Energy
        </button>
        <button
          kendoButton
          themeColor="secondary"
          [fillMode]="getSensorType() == 'occupancy' ? 'solid' : 'outline'"
          style="bottom: 10px; margin-right: 5px"
          (click)="getSensorCardsBy('occupancy')"
          icon="user"
        >
          Occupancy
        </button>
        <!-- <button
          kendoButton
          themeColor="secondary"
          [fillMode]="getSensorType() == 'lightlevel' ? 'solid' : 'outline'"
          style="bottom: 10px; margin-right: 5px"
          (click)="getSensorCardsBy('lightlevel')"
          icon="brightness-contrast"
        >
          Lightlevel
        </button> -->
        <!-- <button
          kendoButton
          themeColor="secondary"
          [fillMode]="getSensorType() == 'sound' ? 'solid' : 'outline'"
          style="bottom: 10px; margin-right: 5px"
          (click)="getSensorCardsBy('sound')"
          icon="volume-up"
        >
          Sound
        </button> -->
        <button
          kendoButton
          themeColor="secondary"
          [fillMode]="getSensorType() == 'temperature' ? 'solid' : 'outline'"
          style="bottom: 10px; margin-right: 5px"
          (click)="getSensorCardsBy('temperature')"
          icon="chart-scatter"
        >
          Temperature
        </button>
        <button
          kendoButton
          themeColor="secondary"
          [fillMode]="getSensorType() == 'co2' ? 'solid' : 'outline'"
          style="bottom: 10px; margin-right: 5px"
          (click)="getSensorCardsBy('co2')"
          icon="globe"
        >
          CO2
        </button>
        <button
          kendoButton
          themeColor="secondary"
          [fillMode]="getSensorType() == 'humidity' ? 'solid' : 'outline'"
          style="bottom: 10px; margin-right: 5px"
          (click)="getSensorCardsBy('humidity')"
          icon="blur"
        >
          Humidity
        </button>
        <button
          kendoButton
          themeColor="secondary"
          [fillMode]="getSensorType() == 'gas' ? 'solid' : 'outline'"
          style="bottom: 10px; margin-right: 5px"
          (click)="getSensorCardsBy('gas')"
          icon="toggle-full-screen-mode"
        >
          Gas
        </button>
      </div>
    </div>
    <!-- Breadcrumbs navigation buttons -->
    <div class="'row" id="breadcrumbs">
      <!-- Breadcrumbs navigation buttons -->
      <div class="col-md-8 col-sm-12">
        <ng-container>
          <!--Tenant/Root-->
          <button
            kendoButton
            themeColor="primary"
            icon="graph"
            [fillMode]="
              accountService.navi.currentLocation == 'root'
                ? 'solid'
                : 'outline'
            "
            style="top: 16px; bottom: 5px; margin-right: 5px"
            *ngIf="
              accountService.navi.currentLocation == 'root' ||
              accountService.navi.currentLocation == 'building' ||
              accountService.navi.currentLocation == 'floor' ||
              accountService.navi.currentLocation == 'area'
            "
            (click)="
              setCurrentLocation('root', accountService.navi.buildingIndex)
            "
          ></button>
          <!--Building-->
          <button
            kendoButton
            themeColor="primary"
            [fillMode]="
              accountService.navi.currentLocation == 'building'
                ? 'solid'
                : 'outline'
            "
            style="top: 16px; bottom: 5px; margin-right: 5px"
            *ngIf="
              accountService.navi.currentLocation == 'building' ||
              accountService.navi.currentLocation == 'floor' ||
              accountService.navi.currentLocation == 'area'
            "
            (click)="
              setCurrentLocation('building', accountService.navi.buildingIndex)
            "
          >
            Building {{ accountService.navi.buildingIndex }}
          </button>
          <!--Floor-->
          <button
            kendoButton
            themeColor="primary"
            [fillMode]="
              accountService.navi.currentLocation == 'floor'
                ? 'solid'
                : 'outline'
            "
            style="top: 16px; bottom: 5px; margin-right: 5px"
            *ngIf="
              accountService.navi.currentLocation == 'floor' ||
              accountService.navi.currentLocation == 'area'
            "
            (click)="
              setCurrentLocation('floor', accountService.navi.floorIndex)
            "
          >
            Floor {{ accountService.navi.floorIndex }}
          </button>
          <!--Area-->
          <button
            kendoButton
            themeColor="primary"
            [fillMode]="
              accountService.navi.currentLocation == 'area'
                ? 'solid'
                : 'outline'
            "
            style="top: 16px; bottom: 5px; margin-right: 5px"
            *ngIf="accountService.navi.currentLocation == 'area'"
            (click)="setCurrentLocation('area', accountService.navi.areaIndex)"
          >
            Area {{ accountService.navi.areaIndex }}
          </button>
        </ng-container>
      </div>
    </div>
    <!-- empty space -->
    <div class="row" id="emptySpace01">
      <div class="col-md4 col-sm-12"><br /></div>
    </div>
    <!-- Levels filters  -->
    <div class="row" id="levelFilters">
      <div class="col">
        <div class="align-right">
          <!-- Building -->
          <!--
          <ng-container *ngIf="accountService.navi.currentLocation == 'root'">
            Buildings: 
            <ng-container
              >
              <button
                kendoButton
                themeColor="primary"
                style="bottom: 5px; margin-right: 5px"
                (click)="filterBy('building', 0)"
              >
                0
              </button>
            </ng-container>
          </ng-container>
        -->
          <!-- Floor -->
          <!-- <ng-container *ngIf="accountService.navi.currentLocation == 'building'">
            Floors: 
            <ng-container *ngFor="let floor of building.floors; let i = index">
              <button
                kendoButton
                themeColor="primary"
                [fillMode]="i == filterByIndex ? 'solid' : 'outline'" 
                style="bottom: 5px; margin-left: 5px"
                (click)="filterBy('floor', i)"
              >
                {{ i }}
              </button>
            </ng-container>
          </ng-container> -->
          <!-- Areas -->
          <ng-container
            *ngIf="
              accountService.navi.currentLocation == 'floor' &&
              filterByDetail == false
            "
          >
          <p class="inline">Floor:</p>
            <ng-container *ngFor="let floor of building.floors; let i = index">
              <button
                kendoButton
                themeColor="primary"
                [fillMode]="i == filterByIndex ? 'solid' : 'outline'"
                style="margin-left: 5px"
                (click)="filterBy('area', i)"
              >
                {{ i }}
              </button>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- empty space -->
    <div class="row" id="emptySpace02">
      <div class="col-md4 col-sm-12"><br /></div>
    </div>
    <!-- Buildings mini cards -->
    <div class="row form-group">
      <ng-container *ngFor="let sensor of sensors">
        <div
          [attr.data-index]="0"
          [class]="
            accountService.navi.currentLocation == 'root' &&
            (filterBySensor == sensor || filterBySensor == 'all') &&
            filterByDetail == false
              ? 'col-sm-12 d-flex align-items-stretch'
              : 'd-flex align-items-stretch'
          "
          style="display: flex"
        >
          <ng-container *ngIf="isDataReady">
            <app-sense-minicard
              style="width: 100%"
              *ngIf="
                accountService.navi.currentLocation == 'root' &&
                (filterBySensor == sensor || filterBySensor == 'all') &&
                filterByDetail == false
              "
              [index]="0"
              [id]="building.id"
              [description]="building.description"
              [type]="'building'"
              [sensorType]="sensor"
              [parentId]="tenantId"
              [parentDescription]="tenantId"
              [databuckets]="building.databuckets"
              [isDataSummarized]="false"
              (click)="setCurrentLocation('building', 0)"
              (dblclick)="setCurrentLocation('building', 0)"
              [calendarSearch]="calendarSearch"
              [csEventChild]="csEventSubject.asObservable()"
            ></app-sense-minicard>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <!-- Floors mini cards -->
    <ng-container *ngFor="let sensor of sensors">
      <div class="row form-group">
        <div
          *ngFor="let floor of building.floors; let i = index"
          [attr.data-index]="'floor-' + i"
          [class]="
            accountService.navi.currentLocation == 'building' &&
            (filterBySensor == sensor || filterBySensor == 'all') &&
            filterByIndex == i &&
            filterByDetail == false
              ? 'col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch'
              : 'col-lg-4 col-md-6 col-sm-12 d-flex d-flex align-items-stretch'
          "
          style="display: flex"
        >
          <ng-container *ngIf="isDataReady">
            <app-sense-minicard
              style="width: 100%"
              *ngIf="
                accountService.navi.currentLocation == 'building' &&
                (filterBySensor == sensor || filterBySensor == 'all') &&
                filterByDetail == false
              "
              [index]="i"
              [id]="floor.id"
              [description]="floor.description"
              [type]="'floor'"
              [sensorType]="sensor"
              [parentId]="building.id"
              [parentDescription]="building.description"
              [databuckets]="floor.databuckets"
              [isDataSummarized]="true"
              (click)="setCurrentLocation('floor', i)"
              (dblclick)="setCurrentLocation('floor', i)"
              [calendarSearch]="calendarSearch"
              [csEventChild]="csEventSubject.asObservable()"
            ></app-sense-minicard>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <!-- Areas mini cards -->
    <div class="row form-group">
      <ng-container *ngFor="let sensor of sensors">
        <ng-container *ngFor="let floor of building.floors; let i = index">
          <div
            *ngFor="let area of floor.areas; let j = index"
            [attr.data-index]="i"
            [class]="
              accountService.navi.currentLocation == 'floor' &&
              (filterBySensor == sensor || filterBySensor == 'all') &&
              filterByIndex == i &&
              filterByDetail == false
                ? 'col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch'
                : 'd-flex align-items-stretch'
            "
            style="display: flex"
          >
            <ng-container *ngIf="isDataReady">
              <app-sense-minicard
                style="width: 100%"
                *ngIf="
                  accountService.navi.currentLocation == 'floor' &&
                  (filterBySensor == sensor || filterBySensor == 'all') &&
                  filterByIndex == i &&
                  filterByDetail == false
                "
                [index]="i"
                [id]="area.id"
                [description]="area.description"
                [type]="'area'"
                [sensorType]="sensor"
                [parentId]="floor.id"
                [parentDescription]="floor.description"
                [databuckets]="area.databuckets"
                [isDataSummarized]="true"
                (click)="setCurrentLocation('area', j)"
                (dblclick)="setCurrentLocation('area', j)"
                [calendarSearch]="calendarSearch"
                [csEventChild]="csEventSubject.asObservable()"
              ></app-sense-minicard>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <!-- Graph detail card -->
    <ng-container *ngFor="let sensor of sensors">
      <div class="row form-group">
        <!--Controlers card-->
        <div
          [attr.data-index]="0"
          [class]="
            accountService.navi.currentLocation == 'detail' &&
            (filterBySensor == sensor || filterBySensor == 'all')
              ? 'col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch'
              : 'd-flex align-items-stretch'
          "
          style="display: flex"
        ></div>
        <div
          [attr.data-index]="0"
          [class]="
            accountService.navi.currentLocation == 'detail'
              ? 'col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch'
              : 'd-flex align-items-stretch'
          "
          style="display: flex"
        >
          <ng-container *ngIf="isDataReady">
            <!--Controlers card-->
            <!-- <kendo-card 
          width="20%" 
          *ngIf="filterByDetail == true"
          >
            <kendo-card-header>Data controller</kendo-card-header>
            <kendo-card-body>
              <div>
                <kendo-dropdowntree
                  kendoDropDownTreeExpandable
                  [kendoDropDownTreeHierarchyBinding]="treeStructure"
                  textField="text"
                  valueField="id"
                  childrenField="items"
                  class="width: 250px;"
                ></kendo-dropdowntree>
              </div>
            </kendo-card-body>
          </kendo-card> -->
            <!--Graph card-->
            <app-sense-minicard
              style="width: 100%"
              *ngIf="filterByDetail == true &&
              (filterBySensor == sensor || filterBySensor == 'all')"
              [index]="0"
              [id]="getCurrentLocationId()"
              (idChange)="findCurrentLocation($event)"
              [description]="getCurrentLocationDescription()"
              [type]="'NAType'"
              [sensorType]="filterBySensor"
              [parentId]="'NAParentId'"
              [parentDescription]="'NAParentDesc'"
              [databuckets]="getCurrentLocationDatabucket()"
              [isDataSummarized]="false"
              [activateStructureFilter]="true"
              [treeStructure]="treeStructure"
              [treeSelectedValue]="getCurrenLocationStructure()"
              (dblclick)="getDataSeries(getCurrentLocationId())"
              [calendarSearch]="calendarSearch"
              [csEventChild]="csEventSubject.asObservable()"
            ></app-sense-minicard>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<ng-template #loadingDataTemplate>
  <p>Loading...</p>
</ng-template>
