<div class="login-container">
    <div class="login-card">
      <kendo-card class="login-kendo-card" >
        <kendo-card-header>
            <img
                  src="assets/logo_2020.svg"
                  alt="Enappgy EU"
                  width="90px"
                  height="30px"
                  style="vertical-align: super"
            />
            <h1>Welcome back!</h1>
        </kendo-card-header>
            <kendo-card-body>
            
        <div class="filler-24"></div>
        <form class="k-form" [formGroup]="form">
          <fieldset class="k-form-fieldset">
            
            <kendo-formfield>
              <kendo-label [for]="username" text="Username"></kendo-label>
              <kendo-textbox
                formControlName="username"
                [clearButton]="true"
                #username
                required
              ></kendo-textbox>
  
              
              <kendo-formerror>Error: Username is required</kendo-formerror>
            </kendo-formfield>
            <kendo-formfield>
              <kendo-label [for]="password" text="Password"> </kendo-label>
              <kendo-textbox
                formControlName="password"
                #password
                required
                [clearButton]="true"
              >
                <ng-template kendoTextBoxSuffixTemplate>
                  <button
                    kendoButton
                    look="clear"
                    icon="eye"
                    (click)="toggleVisibility()"
                  ></button>
                </ng-template>
              </kendo-textbox>
  
             
              <kendo-formerror>Error: Password is required</kendo-formerror>
            </kendo-formfield>
  
            <kendo-formfield style="text-align:left">
              <div class="k-checkbox-wrap">
                <input
                  #loggedin
                  type="checkbox"
                  kendoCheckBox
                  formControlName="loggedin"
                />
                <kendo-label
                    
                  [for]="loggedin"
                  class="k-checkbox-label"
                  text=" Keep me logged in"
                ></kendo-label>
              </div>
              
            </kendo-formfield>
            <div class="filler-16"></div>
            <div class="k-form-buttons">
              <button kendoButton themeColor="primary" (click)="login()">Login</button>
              <button kendoButton themeColor="secondary" fillMode="flat" (click)="clearForm()">Clear</button>
            </div>
          </fieldset>
        </form>

        </kendo-card-body>
        

      </kendo-card>
    </div>

    <div class="login-footer">
        <p class="u-non-blurred">Version: 1.0.0 <a style='margin:0px 16px;' target="_blank" href="https://www.enappgy.com/privacy-enappgy-eu/">Privacy</a> © 2022 Enappgy EU</p>
    </div>
  </div>