<div class="container" *ngIf="auth.isLoading$ | async; else loaded">
  <app-loading></app-loading>
</div>

<ng-template #loaded>
  <ng-template [ngIf]="showNavigation == true">
    <div class="demo-header">
      <div class="menu-toggle-button">
        <button
          kendoButton
          icon="menu"
          fillMode="flat"
          size="large"
          styles="font-size: 24px;"
          (click)="drawer.toggle()"
        ></button>
      </div>

      <div class="enappgy-logo">
        <a href="#">
          <img
            src="https://www.enappgy.com/resources/themes/energetika/dist/svg/logo_2020.svg"
            alt="Enappgy EU"
            width="120px"
            height="40px"
          />
        </a>
      </div>
      <div class="logout-button">
        <app-authentication-button></app-authentication-button>
      </div>
    </div>

    <kendo-drawer-container>
      <kendo-drawer
        #drawer
        [items]="routes"
        mode="push"
        [mini]="true"
        [(expanded)]="expanded"
        [autoCollapse]="true"
        [miniWidth]="56"
      >
        <ng-template kendoDrawerItemTemplate let-item>
          <span
            class="{{ item.icon }} k-icon"
            title="{{ item.text }}"
            [routerLink]="item.path"
          ></span>

          <div *ngIf="expanded" class="k-drawer-link" [routerLink]="item.path">
            <span>{{ item.text }}</span>
          </div>
        </ng-template>

        <ng-template kendoDrawerFooterTemplate>
          <div class="logout-button-mobile">
            <app-authentication-button></app-authentication-button>
          </div>
        </ng-template>
      </kendo-drawer>

      <kendo-drawer-content>
        <div class="inside">
          <div class="filler-16"></div>
          <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>
      </kendo-drawer-content>
    </kendo-drawer-container>
  </ng-template>

  <ng-template [ngIf]="showNavigation == false">
    <router-outlet></router-outlet>
  </ng-template>
</ng-template>
