<!-- <ng-container *ngIf="currentConsumption"> -->
  <kendo-card width='100%' class="expand">
    <kendo-card-header >
        <h1 kendoCardTitle>Current vs. baseline</h1>
    </kendo-card-header>

    <kendo-card-body>
        <div class="filler-16"></div>
        <div class="two-circles-wrapper">
          <div class="half-width">
            <div class="circle success-radial-bg" [ngStyle]="{'width.px':getCurrentRadius(), 'height.px': getCurrentRadius(), 'padding-top.px': (getCurrentRadius() / 2) - 30, 'margin-top.px': (getBaselineRadius() - getCurrentRadius()) / 2}">
              <h3 class="circle-value">{{getCurrentConsumption() | number:'1.1-2'}} kwh</h3>
              <p class="circle-title light-text">Current</p>
            </div>
          </div>
          <div class="half-width">
            <div class="circle dark-bg" [ngStyle]="{'width.px':getBaselineRadius(), 'height.px': getBaselineRadius(), 'padding-top.px': (getBaselineRadius() / 2) - 30}">
              <h3 class="circle-value">{{getBaselineConsumption() | number:'1.1-2'}} kwh</h3>
              <p class="circle-title light-text">Baseline</p>
            </div>
          </div>
        </div>
    </kendo-card-body>
</kendo-card>
<!-- </ng-container> -->