// variable overwrites
$success: #37b400;
$dark: #424242;
$error: #f31700;
$warning: #ffc000;
$light: #ebebeb;
$info: #0058e9;
$primary: #1C7AD4;
$secondary: #666666;
$tertiary: #0A1E64;

$series-a: #1C7AD4;
$series-b: #0A1E64;
$series-c: #6EB5F9;

// custom styling
.flex-container {
    display: flex;
    flex-flow: column;
    min-height: 60vh;
  }
  .remaining-height-full-width {
      flex-grow : 1;
      min-height:500px;
      display:flex;
      width:100%;
  }
  .map-wrapper {
      position: relative;
  }
  .color-legend {
      position: absolute;
      bottom: 24px;
      left: 24px;
  }
.card-stat {
    font-weight: 100;
    font-size:2.2rem;
}
.card-stat-secondary {
    font-weight: 100;
    font-size: 1.0rem;
    color: #666;
}
.login-container {
    height:100vh;
    width:100vw;
    display:relative;
    background: #006eb8 url(assets/bg-wave-dark.png);
    background-size: cover;
}
.login-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.login-kendo-card {
    max-width:90% !important;
    width:380px !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.login-footer {
    position:absolute;
    bottom:0px;
    width:100vw;
    padding:16px 0px 0px 0px;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.8);  
    text-align:center;
}

kendo-drawer-content {
    min-height: calc(100vh - 54px);
    overflow: auto;
    padding-left: 10px;
    margin-top:62px;
  }
  .k-drawer-wrapper {
    position:fixed !important; 
    top:54px !important;
  }
  k.drawer {
    position:fixed;
    width:275px;
    background: blue;
  }
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .login-footer {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(6px);
      background-color: rgba(255, 255, 255, 0.8);  
    }
    
  }
  .u-non-blurred {
    position: relative;
    z-index: 1;
    color:#111;
  }
.filler-24 {
    display:block;
    height: 24px;
}
.filler-16 {
    display: block;
    height: 16px;
}
h1 {
    font-weight:100;
    color:#333;
}
h2 {
    font-size:1.3rem;
    font-weight:100;
    color: #333;
  }

.k-card {
    margin-bottom:16px;
}
// helper classes that will make it easier to stick to the Kendo UI theme

.success-bg {
    background-color: $success;
}
.success-radial-bg {
    background: radial-gradient($success, rgb(1, 150, 1));
}

.dark-bg {
    background-color: $dark;
}
.light-bg {
    background-color: $light;
}
.primary-bg {
    background-color: $primary;
}
.secondary-bg {
    background-color: $secondary;
}

.light-text {
    color: $light
}

p {
    color: #6C757D;
}

.expand {
    height: calc(100% - 16px);
    width:100%;
}

  .align-right {
    float:right;
  }
  .inline {
    display: inline
  }
  .margin-left-16 {
    margin-left: 16px;
  }

.profile-picture {
  width: 32px;
  height:32px;
  float: left;
  margin-right:8px;
}
.profile-username {
  display: inline;
}

.utilization-legend-wrapper {
  float:left;
  margin: 16px 0px;
}
.utilization-legend-title {
  display: inline;
  margin-right:16px;
}
.utilization-legend-item {
  padding:4px 8px;
  border-radius:4px;
  border:1px solid #dfdfdf;
  margin-right:16px;
  display: inline-block;
}
.utilization-legend-color {
  height: 16px;
  width:16px;
  margin-right:4px;
  margin-top:0px;
  float:left;
  border-radius:50%;

}
    .utilization-legend-color.one {
      background: #a9e48f;
      border: 1px solid #7fba64;
    }
    .utilization-legend-color.two {
      background: #ffedac;
      border: 1px solid #fcd137;
    }
    .utilization-legend-color.three {
      background: #ffd18f;
      border:1px solid #fcad3e
    }
    .utilization-legend-color.four {
      background: #ffb48d;
      border:1px solid #fd813f;
    }
    .utilization-legend-color.five {
      background: #ff9a8e;
      border:1px solid #fd4d39;
    }

.utilization-legend-item p {
  display: inline;
}


// import the base theme
@import '~@progress/kendo-theme-default/dist/all.scss';