* {
    box-sizing: border-box;
  }
  
  body {
    background: #e5e5e5;
  }
  
  .map_position {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
  .loading_overlay {
    font-family: Avenir, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100000;
    font-size: 36px;
    padding: 100px;
  }
  
  .scene {
    width: 40px;
    height: 40px;
    margin: 200px auto;
    perspective: 1000px;
  }
  
  .cube {
    width: 40px;
    height: 40px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateCube 10s infinite;
    animation-timing-function: linear;
  }
  
  @keyframes rotateCube {
    0% {
      transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
    }
    100% {
      transform: rotateY(360deg) rotateX(-360deg) translateZ(0px);
    }
  }
  
  .cube__face {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    line-height: 100px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  
  .cube__face--front {
    transform: rotateY(0deg) translateZ(20px);
  }
  .cube__face--right {
    transform: rotateY(90deg) translateZ(20px);
  }
  .cube__face--back {
    transform: rotateY(180deg) translateZ(20px);
  }
  .cube__face--left {
    transform: rotateY(-90deg) translateZ(20px);
  }
  