:host {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-content {
    width:100%;
  }
  .padding-top {
      position:relative;top:2px;
  }

  kendo-expansionpanel {
    width: 100%;
  }
  .header-expansion {
      margin-left: 36px;
      width: calc(100% - 80px);
      margin-bottom:8px;
  }