<div class="footer" style="display:flex;align-items:center;height: 40px;margin-top: -50px;margin-left:18px;">
    <div class="row" style="width:100%; margin-top:16px;">
        <div class="col-sm-6">
            <a class="navbar-brand" href="#">
                <img
                  src="assets/logo_2020.svg"
                  alt="Enappgy EU"
                  width="70px"
                  height="20px"
                  style="vertical-align: super"
                />
              </a>
      
        </div>
        <div class="col-sm-6">
            <p class="align-right"><a style='margin-right: 16px;' target="_blank" href="https://www.enappgy.com/privacy-enappgy-eu/">Privacy</a> © 2022 Enappgy EU</p>
        </div>
    </div>
</div>
