.daysOfWeekAct {
    background-color: white;
    color:blue;
    border-color: blue;
}
.daysOfWeekInact {
    background-color: white;
    color: black;
    border-color: black;
}
.active {color:red;}
.not-active {text-decoration: line-through; color: #dfdfdf}
.dayOfWeeka {
    border-radius: 3%;
    border: blue;
    border-color: blue;
    color: blue;
}
.dayOfWeekIn {
    border-radius: 3%;
    border-color: black;
    color: black;
}

.calendar-control {
    margin-bottom:16px;
}

input {
    border: 1px solid transparent !important;
    border-bottom: 1px solid #333 !important;
    color: blue !important;
}

.k-dateinput {
    border: 1px solid transparent;
    border-bottom: 2px solid #dfdfdf; 
    transition: 0.1s ease-in;  
    max-width: 120px;
    padding: 5px 10px;
}

.k-input:hover, .weekday-indicator-wrapper:hover {
    border-bottom-color: #333;
}
.k-input:focus, 
.k-input:valid {
border: 1px solid transparent;
  border-bottom: 1px solid blue;
  outline: none;
}
.weekday-indicator-wrapper {
    font-size: 14px; 
    border-bottom: 2px solid #dfdfdf; 
    float:left;
    padding: 0px 4px 8px 8px;
}

.weekday-indicator {
    margin-right: 4px
}


.daterange-seperator {
    color: #333;
    font-weight: 300;
    padding: 0px 8px;
}